Build started...
Build succeeded.
The Entity Framework tools version '10.0.4' is older than that of the runtime '10.0.5'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'DineroEnCurso' on entity type 'KpiComandaActiva'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'Precio' on entity type 'Servicio'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'BoletoPerdido' on entity type 'TarifaEstadia'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'CostoFraccionAdicional' on entity type 'TarifaEstadia'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'CostoPrimeraFraccion' on entity type 'TarifaEstadia'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [Citas] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NOT NULL,
    [TelefonoCliente] nvarchar(20) NOT NULL,
    [NombreCliente] nvarchar(100) NOT NULL,
    [FechaHoraInicio] datetime2 NOT NULL,
    [FechaHoraFin] datetime2 NOT NULL,
    [Estado] nvarchar(50) NOT NULL,
    CONSTRAINT [PK_Citas] PRIMARY KEY ([Id])
);

CREATE TABLE [Comandas] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NOT NULL,
    [IdentificadorAtencion] nvarchar(50) NOT NULL,
    [ResumenPedido] nvarchar(1000) NOT NULL,
    [Total] decimal(18,2) NOT NULL,
    [Estado] nvarchar(50) NOT NULL,
    [FechaCreacion] datetime2 NOT NULL,
    CONSTRAINT [PK_Comandas] PRIMARY KEY ([Id])
);

CREATE TABLE [Negocios] (
    [Id] int NOT NULL IDENTITY,
    [Nombre] nvarchar(100) NOT NULL,
    [TelefonoWhatsApp] nvarchar(20) NOT NULL,
    [Activo] bit NOT NULL,
    [FechaRegistro] datetime2 NOT NULL,
    [SistemaAsignado] nvarchar(50) NOT NULL,
    [CapacidadMaxima] int NOT NULL,
    [DuracionMinutosCita] int NOT NULL,
    [UsaMesas] bit NOT NULL,
    CONSTRAINT [PK_Negocios] PRIMARY KEY ([Id])
);

CREATE TABLE [Tickets] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NOT NULL,
    [Placa] nvarchar(20) NOT NULL,
    [HoraEntrada] datetime2 NOT NULL,
    [HoraSalida] datetime2 NULL,
    [MontoCalculado] decimal(18,2) NULL,
    [Estado] nvarchar(50) NOT NULL,
    CONSTRAINT [PK_Tickets] PRIMARY KEY ([Id])
);

CREATE TABLE [Usuarios] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NULL,
    [Nombre] nvarchar(100) NOT NULL,
    [Correo] nvarchar(100) NOT NULL,
    [PasswordHash] nvarchar(max) NOT NULL,
    [Rol] nvarchar(50) NOT NULL,
    CONSTRAINT [PK_Usuarios] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Usuarios_Negocios_NegocioId] FOREIGN KEY ([NegocioId]) REFERENCES [Negocios] ([Id])
);

CREATE INDEX [IX_Usuarios_NegocioId] ON [Usuarios] ([NegocioId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260316183004_InicializacionSaaS', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;
IF SCHEMA_ID(N'Operacion') IS NULL EXEC(N'CREATE SCHEMA [Operacion];');

IF SCHEMA_ID(N'Core') IS NULL EXEC(N'CREATE SCHEMA [Core];');

ALTER SCHEMA [Core] TRANSFER [Usuarios];

ALTER SCHEMA [Operacion] TRANSFER [Tickets];

ALTER SCHEMA [Core] TRANSFER [Negocios];

ALTER SCHEMA [Operacion] TRANSFER [Comandas];

ALTER SCHEMA [Operacion] TRANSFER [Citas];

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260316183738_AgregarEsquemas', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;

                CREATE VIEW Operacion.vw_ResumenVentasDiarias AS
                SELECT 
                    NegocioId, 
                    CAST(FechaCreacion AS DATE) AS Fecha,
                    COUNT(Id) AS TotalOrdenes,
                    SUM(Total) AS IngresoTotal
                FROM Operacion.Comandas
                WHERE Estado = 'Lista' OR Estado = 'Entregada'
                GROUP BY NegocioId, CAST(FechaCreacion AS DATE)
            


                CREATE PROCEDURE Operacion.sp_CerrarTicketsAntiguos
                    @NegocioId INT,
                    @HorasAntiguedad INT
                AS
                BEGIN
                    SET NOCOUNT ON;
                    UPDATE Operacion.Tickets
                    SET Estado = 'Cobrado', MontoCalculado = 0 
                    WHERE NegocioId = @NegocioId 
                      AND Estado = 'Activo' 
                      AND DATEDIFF(HOUR, HoraEntrada, GETUTCDATE()) > @HorasAntiguedad;
                END
            

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260316184901_ReportesYProcedimientos', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;
EXEC sp_rename N'[Operacion].[Comandas].[IdentificadorAtencion]', N'TipoAtencion', 'COLUMN';

ALTER TABLE [Operacion].[Tickets] ADD [TelefonoContacto] nvarchar(20) NULL;

ALTER TABLE [Core].[Negocios] ADD [HoraApertura] time NOT NULL DEFAULT '00:00:00';

ALTER TABLE [Core].[Negocios] ADD [HoraCierre] time NOT NULL DEFAULT '00:00:00';

ALTER TABLE [Core].[Negocios] ADD [InstanciaWhatsApp] nvarchar(100) NULL;

ALTER TABLE [Operacion].[Comandas] ADD [IdentificadorMesa] nvarchar(50) NOT NULL DEFAULT N'';

ALTER TABLE [Operacion].[Comandas] ADD [NombreCliente] nvarchar(100) NOT NULL DEFAULT N'';

ALTER TABLE [Operacion].[Comandas] ADD [TelefonoCliente] nvarchar(max) NOT NULL DEFAULT N'';

ALTER TABLE [Operacion].[Citas] ADD [RecursoId] int NULL;

ALTER TABLE [Operacion].[Citas] ADD [ServicioId] int NULL;

CREATE TABLE [DetalleComanda] (
    [Id] int NOT NULL IDENTITY,
    [ComandaId] int NOT NULL,
    [ServicioId] int NOT NULL,
    [Cantidad] int NOT NULL,
    [Subtotal] decimal(18,2) NOT NULL,
    [NotasOpcionales] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_DetalleComanda] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_DetalleComanda_Comandas_ComandaId] FOREIGN KEY ([ComandaId]) REFERENCES [Operacion].[Comandas] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_DetalleComanda_ComandaId] ON [DetalleComanda] ([ComandaId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260321053617_AddTelefonoContactoTicket', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;
ALTER SCHEMA [Operacion] TRANSFER [DetalleComanda];

ALTER TABLE [Core].[Negocios] ADD [AccesoMovil] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Core].[Negocios] ADD [AccesoWeb] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Core].[Negocios] ADD [InstanciaWhatsApp] nvarchar(100) NULL;

ALTER TABLE [Core].[Negocios] ADD [MercadoPagoAccessToken] nvarchar(255) NULL;

ALTER TABLE [Core].[Negocios] ADD [ModuloHistorial] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Core].[Negocios] ADD [ModuloReportes] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Core].[Negocios] ADD [ModuloWhatsApp] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Operacion].[Citas] ADD [RecordatorioEnviado] bit NOT NULL DEFAULT CAST(0 AS bit);

CREATE TABLE [Core].[DeliveryCredenciales] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NOT NULL,
    [Plataforma] nvarchar(20) NOT NULL,
    [ClientId] nvarchar(200) NOT NULL,
    [ClientSecret] nvarchar(500) NOT NULL,
    [WebhookSecret] nvarchar(500) NULL,
    [StoreId] nvarchar(200) NULL,
    [PaisCode] nvarchar(10) NULL,
    [Activo] bit NOT NULL,
    CONSTRAINT [PK_DeliveryCredenciales] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_DeliveryCredenciales_Negocios_NegocioId] FOREIGN KEY ([NegocioId]) REFERENCES [Core].[Negocios] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Core].[Servicios] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NOT NULL,
    [Nombre] nvarchar(max) NOT NULL,
    [DuracionMinutos] int NOT NULL,
    [Precio] decimal(18,2) NOT NULL,
    [Activo] bit NOT NULL,
    CONSTRAINT [PK_Servicios] PRIMARY KEY ([Id])
);

CREATE TABLE [Core].[TarifaEstadia] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NOT NULL,
    [CostoPrimeraFraccion] decimal(18,2) NOT NULL,
    [MinutosPrimeraFraccion] int NOT NULL,
    [CostoFraccionAdicional] decimal(18,2) NOT NULL,
    [MinutosFraccionAdicional] int NOT NULL,
    [MinutosToleranciaEntrada] int NOT NULL,
    [MinutosToleranciaFraccion] int NOT NULL,
    [BoletoPerdido] decimal(18,2) NOT NULL,
    [HeaderTicket] nvarchar(200) NOT NULL,
    [FooterTicket] nvarchar(200) NOT NULL,
    CONSTRAINT [PK_TarifaEstadia] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_TarifaEstadia_Negocios_NegocioId] FOREIGN KEY ([NegocioId]) REFERENCES [Core].[Negocios] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Core].[SkuTerceros] (
    [Id] int NOT NULL IDENTITY,
    [NegocioId] int NOT NULL,
    [Plataforma] nvarchar(20) NOT NULL,
    [SkuExterno] nvarchar(200) NOT NULL,
    [ServicioId] int NOT NULL,
    CONSTRAINT [PK_SkuTerceros] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SkuTerceros_Negocios_NegocioId] FOREIGN KEY ([NegocioId]) REFERENCES [Core].[Negocios] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_SkuTerceros_Servicios_ServicioId] FOREIGN KEY ([ServicioId]) REFERENCES [Core].[Servicios] ([Id])
);

CREATE INDEX [IX_DeliveryCredenciales_NegocioId] ON [Core].[DeliveryCredenciales] ([NegocioId]);

CREATE INDEX [IX_SkuTerceros_NegocioId] ON [Core].[SkuTerceros] ([NegocioId]);

CREATE INDEX [IX_SkuTerceros_ServicioId] ON [Core].[SkuTerceros] ([ServicioId]);

CREATE INDEX [IX_TarifaEstadia_NegocioId] ON [Core].[TarifaEstadia] ([NegocioId]);


COMMIT;
GO


